<h1>Beers#index</h1>
<p>Find me in app/views/beers/index.html.erb</p>

<h1>BBNO CONVERTER</h1>

<%= flash[:notice] %>
<table>
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Variant SKU</th>
      <th>Item Product</th>
      <th>Item Name</th>
      <th>Item Label</th>
      <th>Item UPC</th>
      <th>Item Quantity</th>
      <th>Item Price</th>
      <th>Item Discount Percentage</th>
      <th>Item Discounted Price</th>
      <th>Item Tax Rate</th>
      <th>Item Position</th>
      <th>Packed Date</th>
      <th>Shipped Date</th>
      <th>Currency</th>
      <th>Warehouse</th>
      <th>Assignee</th>
      <th>Fulfillment Notes</th>
      <th>Email</th>
      <th>Email</th>
      <th>Company Name</th>
      <th>Company Code</th>
      <th>Company Tax Number</th>
      <th>Company Fax</th>
      <th>Shipping Address Name</th>
      <th>Shipping Address Company Name</th>
      <th>Shipping Address Line 1</th>
      <th>Shipping Address Line 2</th>
      <th>Shipping Address Suburb</th>
      <th>Shipping Address City</th>
      <th>Shipping Address State</th>
      <th>Shipping Address Country</th>
      <th>Shipping Address Zip Code</th>
      <th>Shipping Address Email</th>
      <th>Shipping Address Phone Number</th>
      <th>Billing Address Name</th>
      <th>Billing Address Company Name</th>
      <th>Billing Address Line 1</th>
      <th>Billing Address Line 2</th>
      <th>Billing Address Suburb</th>
      <th>Billing Address City</th>
      <th>Billing Address State</th>
      <th>Billing Address Country</th>
      <th>Billing Address Zip Code</th>
      <th>Billing Address Email</th>
      <th>Billing Address Phone Number</th>
      <th>Order Reference</th>
    </tr>
  </thead>
  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.Sales_Order_Number %></td>
        <td><%= beer.Variant_SKU %></td>
        <td><%= beer.Item_Product %></td>
        <td><%= beer.Item_Name %></td>
        <td><%= beer.Item_Label %></td>
        <td><%= beer.Item_UPC %></td>
        <td><%= beer.Item_Quantity %></td>
        <td><%= beer.Item_Price %></td>
        <td><%= beer.Item_Discount_Percentage %></td>
        <td><%= beer.Item_Discounted_Price %></td>
        <td><%= beer.Item_Tax_Rate %></td>
        <td><%= beer.Item_Position %></td>
        <td><%= beer.Packed_Date %></td>
        <td><%= beer.Shipped_Date %></td>
        <td><%= beer.Currency %></td>
        <td><%= beer.Warehouse %></td>
        <td><%= beer.Assignee %></td>
        <td><%= beer.Fulfillment_Notes %></td>
        <td><%= beer.Email %></td>
        <td><%= beer.Contact_Name %></td>
        <td><%= beer.Company_Name %></td>
        <td><%= beer.Company_Code %></td>
        <td><%= beer.Company_Tax_Number %></td>
        <td><%= beer.Company_Fax %></td>
        <td><%= beer.Shipping_Address_Name %></td>
        <td><%= beer.Shipping_Address_Company_Name %></td>
        <td><%= beer.Shipping_Address_Line_1 %></td>
        <td><%= beer.Shipping_Address_Line_2 %></td>
        <td><%= beer.Shipping_Address_Suburb %></td>
        <td><%= beer.Shipping_Address_City %></td>
        <td><%= beer.Shipping_Address_State %></td>
        <td><%= beer.Shipping_Address_Country %></td>
        <td><%= beer.Shipping_Address_Zip_Code %></td>
        <td><%= beer.Shipping_Address_Email %></td>
        <td><%= beer.Shipping_Address_Phone_Number%></td>
        <td><%= beer.Billing_Address_Name %></td>
        <td><%= beer.Billing_Address_Company_Name %></td>
        <td><%= beer.Billing_Address_Line_1 %></td>
        <td><%= beer.Billing_Address_Line_2 %></td>
        <td><%= beer.Billing_Address_Suburb %></td>
        <td><%= beer.Billing_Address_City %></td>
        <td><%= beer.Billing_Address_State %></td>
        <td><%= beer.Billing_Address_Country %></td>
        <td><%= beer.Billing_Address_Zip_Code %></td>
        <td><%= beer.Billing_Address_Email %></td>
        <td><%= beer.Billing_Address_Phone_Number%></td>
        <td><%= beer.Order_Reference %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
<h4>Read my beer!</h4>
  <%= form_tag import_beers_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

<div>
<h4>Stevie my beer!</h4>
  <%= form_tag stevie_beers_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
